image_annotation_video.mp4 filter=lfs diff=lfs merge=lfs -text
windows/UGA_windows_images.zip filter=lfs diff=lfs merge=lfs -text
test_patient_video_folder/video1.dcm filter=lfs diff=lfs merge=lfs -text
test_patient_video_folder/video2.dcm filter=lfs diff=lfs merge=lfs -text
windows/uga_windows_video.zip filter=lfs diff=lfs merge=lfs -text
